---
layout: default
---
<div class="home">
  <div class="header">
    <img alt="{{ site.title }}" src="{{ site.baseurl }}/{{ site.picture }}" />
    <h1 class="">{{ site.title }}</h1>
    <div class="">{{ site.description }}</div>
    {% include social-media.html %}
  </div>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
