<ul class="social-media-list">
  {% if site.email %}
    <li>{% include icon-email.html email=site.email %}</li>
  {% endif %}
  {% if site.github_username %}
    <li>{% include icon-github.html username=site.github_username %}</li>
  {% endif %}
  {% if site.twitter_username %}
    <li>{% include icon-twitter.html username=site.twitter_username %}</li>
  {% endif %}
  {% if site.linkedin_url %}
    <li>{% include icon-linkedin.html url=site.linkedin_url %}</li>
  {% endif %}
  {% if site.instagram_username %}
    <li>{% include icon-instagram.html username=site.instagram_username %}</li>
  {% endif %}
  
</ul>
