/** Site header */
.site-header {
  // Positioning context for the mobile navigation icon
  position: relative;
  text-align: center;

  .site-title {
    position: fixed;
    left: 10px;
    top: 10px;
    opacity: 0.75;
    font-size: 26px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
  }

  .page-topper {
    .full & { height: 450px; }
    height: 250px;
    background-position: center;
    background-size: cover;
    background-color: $brand-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@include media-query($on-palm) {
  .site-header {
    .site-title {
      position: absolute;
    }
  }
}

/** Site footer */
.site-footer {
  position: relative;
  padding: $spacing-unit;
  &::before {
    $site-footer-before-width: 70%;
    content: '';
    position: absolute;
    width: $site-footer-before-width;
    height: 0px;
    border-bottom: 3px solid $brand-color;
    top: -5px;
    display: block;
    left: 50%;
    margin-left: -1 * $site-footer-before-width / 2;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.social-media-list {
  list-style: none;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}

/** navigation */
.site-nav {
  text-align: center;
  position: relative;
  margin: $spacing-unit 0;
  font-size: 1.3rem;
  .page-link {
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &::after {
    $site-nav-after-width: 250px;
    content: '';
    position: absolute;
    width: $site-nav-after-width;
    height: 0px;
    border-bottom: 3px solid $brand-color;
    top: 38px;
    display: block;
    left: 50%;
    margin-left: -1 * $site-nav-after-width / 2;
  }
}

/** landing page */
.landing {
  height: 100%;
  width: 100%;
  &, h1, .site-nav a, {
    color: #fff;
  }
  h1 {
    font-weight: 500;
    text-align: right;
  }
  .landing-base {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .background, .mask {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .background {
    background-position: center;
    background-repeat: no-repeat;
  }
  .mask {
    background: $brand-color;
    opacity: 0.7;
  }
  .content {
    padding: 100px;
    flex: 1;
    z-index: 100;
  }
  .site-nav {
    &::after { display: none; }
  }
  .site-footer::before {
    border-color: #fff;
  }
  .social-media-list {
    .icon svg path {
      fill: #fff;
    }
  }
}
@include media-query($on-palm) {
    .landing {
      .content {
        padding: 20px;
      }
      .background {
        background-position-x: -287px;
        background-size: 300%;
      }
      h1 {
        font-size: 1.88rem;
      }
    }
}

/** Page content */
.page-content {
  padding-bottom: $spacing-unit;
}

.page-heading {
  font-size: 20px;
}

.list-of-things {
  &, ul {
    margin-left: 0;
    list-style: none;
  }
  .thing-title {
    font-size: 1.17rem;
    line-height: $base-line-height;
  }
  .thing-meta {
    float: right;
    color: $grey-color;
    line-height: $base-line-height;
    margin-top: 4px;
  }
  h3 {
    margin: 50px 0px 20px;
  }
  li {
    margin-bottom: 10px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/** Posts */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  margin-top: $spacing-unit;
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  .related-links {
    padding: $spacing-unit;
    display: flex;
    justify-content: space-around;
  }
}
