---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% if page.subtitle %}
      <h2 class="post-subtitle">{{ page.subtitle }}</h2>
    {% endif %}
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.location %}
        <span>at <a href="{{page.locationURL}}">{{ page.location }}</a></span>
      {% endif %}
      <div class="post-tags">
        {% for tag in page.tags %}
          <a href="/archives/#{{tag|slugize}}">#{{tag}}</a>{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </div>
    </div>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  {% include disqus.html %}
</article>
