---
layout: default
---
<div style="width:800px; margin: auto;">
  {{ content }}
  
    {% assign i=0 %}
    <div align="center" >
        {% for i in (1..4) %} 
        {% for post in site.categories[{{page.category}}] %}
            {% if 2 == 1 %}
                  {% include project-item.html url=post.url title=post.title icon=post.icon %}

                  {%assign i = i | plus: 1%}
                  {% if i == 4  %}
                  <br>
                  {% assign i=0 %}
                  {%endif%}
            {%endif}
        {% endfor %}
        {% endfor %}
  </div>
</div>