---
layout: default
---
<html>
<div class="proj_row">
       
            <div class="floated_img">
                    <img  id="img1" src="https://media.giphy.com/media/vCKC987OpQAco/giphy.gif" height="200">
                
                <p>
                    <a href="#">2000BostonAve</a>
                </p>
            </div>
            
            <div class="floated_img">
                
                    <img id="img2"  src="https://media.giphy.com/media/vCKC987OpQAco/giphy.gif"  height="200"/>
                
                <p>
                    <a href="#">574BostonAve</a>
                </p>
            </div>
             <div class="floated_img">
                
                    <img id="img3"  src="https://media.giphy.com/media/vCKC987OpQAco/giphy.gif"  height="200"/>
                
                <p>
                    <a href="#">CraftCenter</a>
                </p>
            </div>
             <div class="floated_img">
                
                    <img id="img3"  src="https://media.giphy.com/media/vCKC987OpQAco/giphy.gif"  height="200"/>
                
                <p>
                    <a href="#">CraftCenter</a>
                </p>
            </div>
            
        </div>
</html>